<mapper namespace="com.example.mapper.UserSessionMapper">
    <resultMap id="userSessionResultMap" type="com.example.model.UserSession">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="session_key" property="sessionKey" />
        <result column="created_at" property="createdAt" />
        <result column="expires_at" property="expiresAt" />
    </resultMap>



    <!-- Thêm mới UserSession -->
    <insert id="insertUserSession">
        INSERT INTO user_sessions (user_id, session_key expires_at)
        VALUES (#{userId}, #{sessionKey}, #{expiresAt})
    </insert>

    <!-- Cập nhật thông tin UserSession -->
    <update id="updateUserSession">
        UPDATE user_sessions
        SET session_key = #{sessionKey}, expires_at = #{expiresAt}
        WHERE id = #{id}
    </update>

    <!-- Xóa UserSession -->
    <delete id="deleteUserSession">
        DELETE FROM user_sessions WHERE id = #{id}
    </delete>

    <select id="findBySessionKey" resultMap="userSessionResultMap">
        SELECT * FROM user_sessions
        WHERE session_key = #{sessionKey}
    </select>
</mapper>
